/* Full page center */
.register-container {
  min-height: 100vh;          /* Full screen height */
  display: flex;
  justify-content: center;    /* Horizontal center */
  align-items: center;        /* Vertical center */
  background-color: #f4f6fb;
  padding: 20px;
}

/* Card */
.register-card {
  width: 420px;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Title */
.register-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #2d4c9c;
}

/* Inputs */
.register-card input,
.register-card textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Button */
.register-card button {
  width: 100%;
  padding: 12px;
  background-color: #2d4c9c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.register-card button:hover {
  background-color: #1f3572;
}
.register-card button {
  margin-top: 10px;
}
.register-card input[readonly],
.register-card textarea[readonly] {
  background-color: #f3f4f6;
  color: #374151;
  font-weight: 500;
}